<app-navbar></app-navbar>
<div id="app" class="container mt-4 dark-theme">

<div class="toggle-container">
  <button class="toggle-btn" (click)="toggleForm()">
    <i class="fas" [ngClass]="isFormVisible ? 'fa-times' : 'fa-plus'"></i>
    {{isFormVisible ? 'Cancel' : 'Add Item'}}
  </button>

</div>

  <form class="form" [ngClass]="{'form--hidden': !isFormVisible}" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
    <app-image [itemForm]="itemForm"></app-image>

    <div class="mb-3">
      <input
        type="text"
        formControlName="name"
        class="form-control"
        [class.is-invalid]="itemForm.get('name')?.invalid && itemForm.get('name')?.touched"
        placeholder="Name"
        required
      />
      <div class="invalid-feedback" *ngIf="itemForm.get('name')?.errors?.['required'] && itemForm.get('name')?.touched">
        Name is required
      </div>
      <div class="invalid-feedback" *ngIf="itemForm.get('name')?.errors?.['minlength'] && itemForm.get('name')?.touched">
        Name must be at least 3 characters long
      </div>
    </div>

    <div class="mb-3">
      <input
        type="number"
        formControlName="amount"
        class="form-control"
        [class.is-invalid]="itemForm.get('amount')?.invalid && itemForm.get('amount')?.touched"
        placeholder="Amount"
        required
      />
      <div class="invalid-feedback" *ngIf="itemForm.get('amount')?.errors?.['required'] && itemForm.get('amount')?.touched">
        Amount is required
      </div>
      <div class="invalid-feedback" *ngIf="itemForm.get('amount')?.errors?.['min'] && itemForm.get('amount')?.touched">
        Amount must be greater than 0
      </div>
    </div>

    <div class="mb-3">
      <input
        type="number"
        formControlName="minValue"
        class="form-control"
        [class.is-invalid]="itemForm.get('minValue')?.invalid && itemForm.get('minValue')?.touched"
        placeholder="Min-Amount (kg)"
        required
      />
      <div class="invalid-feedback" *ngIf="itemForm.get('minValue')?.errors?.['required'] && itemForm.get('minValue')?.touched">
        Min-Amount is required
      </div>
      <div class="invalid-feedback" *ngIf="itemForm.get('minValue')?.errors?.['min'] && itemForm.get('minValue')?.touched">
        Minimum-Amount must be greater than 0
      </div>
    </div>

    <div class="mb-3">
      <input
        type="number"
        formControlName="midValue"
        class="form-control"
        [class.is-invalid]="itemForm.get('midValue')?.invalid && itemForm.get('midValue')?.touched"
        placeholder="Middle-Amount (kg)"
        required
      />
      <div class="invalid-feedback" *ngIf="itemForm.get('midValue')?.errors?.['required'] && itemForm.get('midValue')?.touched">
        Middle-Amount is required
      </div>
      <div class="invalid-feedback" *ngIf="itemForm.get('midValue')?.errors?.['min'] && itemForm.get('midValue')?.touched">
        Middle-Amount must be greater than 0
      </div>
    </div>

    <div *ngIf="(itemForm.errors?.['invalidNumbers'] || itemForm.errors?.['invalidRange']) && itemForm.get('midValue')?.touched" class="alert alert-danger">
      Invalid input. Please enter valid Amount and values.
    </div>

    <button type="submit" [disabled]="itemForm.invalid">
      Add Item
    </button>
  </form>

  <app-item
    *ngFor="let item of items"
    [@itemAnimation]
    [formData]="item"
    [userId]="authService.currentUserSig()?.id"
    [items]="items"
    (removeItem)="onEventRemove($event)"
    (newValuesItem)="onNewValuesEvent($event)"
    (newColor)="toggleBackground($event)"
  ></app-item>
</div>
